# Trabalhando com Planilhas do Exel

In [ ]:
#++Trabalhando com Planilhas do Excel++

In [3]:
#Importando a biblioteca Pandas
import pandas as pd

In [4]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [5]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [6]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [8]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [9]:
#Exibindo as 5 últimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [10]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
141  Fortaleza 2019-03-02  182.75     983     8
48       Natal 2018-09-20  676.00     852     4
11     Aracaju 2019-01-01  161.53    1520     4
134   Salvador 2019-03-02  125.90    1036     1
116   Salvador 2019-03-02   41.78    1034     3

In [11]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [12]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [13]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [14]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [15]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [16]:
#Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [17]:
df["Vendas"].mean()

122.61180089485458

In [18]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [19]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
85       Natal 2019-01-02   16.88   1035     3
10    Salvador 2019-01-01   30.97   1036     1
225   Salvador 2019-01-02   36.23   1035     1
53       Natal 2019-02-14  290.00    854     4
16    Salvador 2019-01-01   32.47   1036     2
64   Fortaleza 2019-01-01  110.31   1005     4
192      Natal 2019-01-02  166.51   1036     1
54     Aracaju 2018-01-01   20.85   1523     1
13    Salvador 2019-02-12   39.29   1035     1
116      Natal 2019-01-02   41.78   1034     3
186   Salvador 2019-01-02  169.09   1036     2
28   Fortaleza 2019-01-01   34.88   1004     3
127   Salvador 2019-03-02  240.61   1035     3
172   Salvador 2019-01-02    6.70   1035     1
80       Natal 2018-05-23  264.00    852     3

In [20]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [21]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [22]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [23]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

In [24]:
#**Criando colunas novas**

In [25]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [26]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [27]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [28]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [29]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [30]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [31]:
#nlargest
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [32]:
#nsamllest
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [33]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [34]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

In [35]:
#**Trabalhando com datas**

In [38]:
#Trasnformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

In [39]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [40]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [41]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [42]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [43]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
88,Aracaju,2018-01-01,190.67,1521,5,953.35,5.0,2018
182,Salvador,2019-01-02,6.60,1037,2,13.20,2.0,2019
12,Fortaleza,2019-01-01,80.73,1004,2,161.46,2.0,2019
162,Salvador,2019-01-02,23.08,1036,2,46.16,2.0,2019
28,Aracaju,2018-01-01,114.93,1520,5,574.65,5.0,2018

In [44]:
#Extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [45]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda
178,Salvador,2019-01-02,39.28,1037,3,117.84,3.0,2019,1,2
118,Fortaleza,2019-03-02,17.70,981,5,88.50,5.0,2019,3,2
110,Aracaju,2018-01-01,38.15,1520,4,152.60,4.0,2018,1,1
23,Fortaleza,2019-01-01,85.90,1004,5,429.50,5.0,2019,1,1
44,Recife,2019-01-01,142.21,983,8,1137.68,8.0,2019,1,1

In [46]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [47]:
#Calculando a diferença de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [48]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias
2,Recife,2019-02-10,12.94,983,5,64.70,5.0,2019,2,10,405 days
132,Natal,2019-01-02,19.61,1036,2,39.22,2.0,2019,1,2,366 days
76,Aracaju,2018-01-01,33.51,1523,4,134.04,4.0,2018,1,1,0 days
19,Recife,2019-01-01,199.43,983,7,1396.01,7.0,2019,1,1,365 days
97,Aracaju,2018-01-01,32.69,1521,5,163.45,5.0,2018,1,1,0 days

In [49]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [50]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
96,Aracaju,2018-01-01,85.92,1521,2,171.84,2.0,2018,1,1,0 days,1
119,Natal,2019-01-02,136.37,1034,2,272.74,2.0,2019,1,2,366 days,1
158,Salvador,2019-01-02,183.64,1037,3,550.92,3.0,2019,1,2,366 days,1
63,Salvador,2019-01-01,166.59,1036,1,166.59,1.0,2019,1,1,365 days,1
53,Salvador,2019-01-01,39.50,1035,3,118.50,3.0,2019,1,1,365 days,1

In [51]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [52]:
vendas_marco_19.sample(20)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
121,Recife,2019-03-02,41.55,981,3,124.65,3.0,2019,3,2,425 days,1
75,Natal,2019-03-30,706.00,854,2,1412.00,2.0,2019,3,30,453 days,1
123,Salvador,2019-03-02,127.45,1036,3,382.35,3.0,2019,3,2,425 days,1
127,Fortaleza,2019-03-02,39.56,982,8,316.48,8.0,2019,3,2,425 days,1
120,Recife,2019-03-02,184.90,982,4,739.60,4.0,2019,3,2,425 days,1
138,Salvador,2019-03-02,212.03,1037,3,636.09,3.0,2019,3,2,425 days,1
136,Salvador,2019-03-02,13.81,1036,1,13.81,1.0,2019,3,2,425 days,1
114,Recife,2019-03-02,16.82,983,4,67.28,4.0,2019,3,2,425 days,1
82,Natal,2019-03-07,868.00,854,3,2604.00,3.0,2019,3,7,430 days,1
29,Natal,2019-03-09,646.00,854,2,1292.00,2.0,2019,3,9,432 days,1
117,Recife,2019-03-02,15.42,983,8,123.36,8.0,2019,3,2,425 days,1
116,Fortaleza,2019-03-02,79.10,982,2,158.20,2.0,2019,3,2,425 days,1
69,Natal,2019-03-24,817.00,852,4,3268.00,4.0,2019,3,24,447 days,1
66,Natal,2019-03-24,559.00,853,2,1118.00,2.0,2019,3,24,447 days,1
119,Recife,2019-03-02,152.30,982,7,1066.10,7.0,2019,3,2,425 days,1
132,Salvador,2019-03-02,19.61,1036,2,39.22,2.0,2019,3,2,425 days,1
137,Recife,2019-03-02,51.99,983,3,155.97,3.0,2019,3,2,425 days,1
113,Recife,2019-03-02,38.63,980,2,77.26,2.0,2019,3,2,425 days,1
19,Natal,2019-03-31,282.00,854,2,564.00,2.0,2019,3,31,454 days,1
127,Recife,2019-03-02,39.56,982,8,316.48,8.0,2019,3,2,425 days,1