In [102]:
#importando a biblioteca pandas
import pandas as pd

In [96]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/gapminder.csv",error_bad_lines=False,sep=",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [67]:
df.head()

          Pais Continente   Ano  Expequitativa de Vida  Pop Total         PIB
0  Afghanistan       Asia  1952                 28.801    8425333  779.445314
1  Afghanistan       Asia  1957                 30.332    9240934  820.853030
2  Afghanistan       Asia  1962                 31.997   10267083  853.100710
3  Afghanistan       Asia  1967                 34.020   11537966  836.197138
4  Afghanistan       Asia  1972                 36.088   13079460  739.981106

In [107]:
df = df.rename(columns={"country":"Pais", "continent": "Continente", "year":"Ano", "lifeExp":"Expectativa de vida", "pop":"Pop Total", "gdpPercap": "PIB"})

In [108]:
#Visualizando as 5 primeiras linhas

In [65]:
df.head()

          Pais Continente   Ano  Expequitativa de Vida  Pop Total         PIB
0  Afghanistan       Asia  1952                 28.801    8425333  779.445314
1  Afghanistan       Asia  1957                 30.332    9240934  820.853030
2  Afghanistan       Asia  1962                 31.997   10267083  853.100710
3  Afghanistan       Asia  1967                 34.020   11537966  836.197138
4  Afghanistan       Asia  1972                 36.088   13079460  739.981106

In [66]:
df.head(10)

          Pais Continente   Ano  Expequitativa de Vida  Pop Total         PIB
0  Afghanistan       Asia  1952                 28.801    8425333  779.445314
1  Afghanistan       Asia  1957                 30.332    9240934  820.853030
2  Afghanistan       Asia  1962                 31.997   10267083  853.100710
3  Afghanistan       Asia  1967                 34.020   11537966  836.197138
4  Afghanistan       Asia  1972                 36.088   13079460  739.981106
5  Afghanistan       Asia  1977                 38.438   14880372  786.113360
6  Afghanistan       Asia  1982                 39.854   12881816  978.011439
7  Afghanistan       Asia  1987                 40.822   13867957  852.395945
8  Afghanistan       Asia  1992                 41.674   16317921  649.341395
9  Afghanistan       Asia  1997                 41.763   22227415  635.341351

In [69]:
#Total de linhas e colunas

In [68]:
df.shape

(1704, 6)

In [70]:
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expequitativa de Vida', 'Pop Total',
       'PIB'],
      dtype='object')

In [71]:
df.dtypes

Pais                      object
Continente                object
Ano                        int64
Expequitativa de Vida    float64
Pop Total                  int64
PIB                      float64
dtype: object

In [73]:
df.tail(15)

          Pais Continente   Ano  Expequitativa de Vida  Pop Total          PIB
1689    Zambia     Africa  1997                 40.238    9417789  1071.353818
1690    Zambia     Africa  2002                 39.193   10595811  1071.613938
1691    Zambia     Africa  2007                 42.384   11746035  1271.211593
1692  Zimbabwe     Africa  1952                 48.451    3080907   406.884115
1693  Zimbabwe     Africa  1957                 50.469    3646340   518.764268
1694  Zimbabwe     Africa  1962                 52.358    4277736   527.272182
1695  Zimbabwe     Africa  1967                 53.995    4995432   569.795071
1696  Zimbabwe     Africa  1972                 55.635    5861135   799.362176
1697  Zimbabwe     Africa  1977                 57.674    6642107   685.587682
1698  Zimbabwe     Africa  1982                 60.363    7636524   788.855041
1699  Zimbabwe     Africa  1987                 62.351    9216418   706.157306
1700  Zimbabwe     Africa  1992                 60.377   10704340   693.420786
1701  Zimbabwe     Africa  1997                 46.809   11404948   792.449960
1702  Zimbabwe     Africa  2002                 39.989   11926563   672.038623
1703  Zimbabwe     Africa  2007                 43.487   12311143   469.709298

In [74]:
df.describe()

              Ano  Expequitativa de Vida     Pop Total            PIB
count  1704.00000            1704.000000  1.704000e+03    1704.000000
mean   1979.50000              59.474439  2.960121e+07    7215.327081
std      17.26533              12.917107  1.061579e+08    9857.454543
min    1952.00000              23.599000  6.001100e+04     241.165876
25%    1965.75000              48.198000  2.793664e+06    1202.060309
50%    1979.50000              60.712500  7.023596e+06    3531.846988
75%    1993.25000              70.845500  1.958522e+07    9325.462346
max    2007.00000              82.603000  1.318683e+09  113523.132900

In [79]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [82]:
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

         Pais Continente   Ano  Expequitativa de Vida  Pop Total          PIB
60  Australia    Oceania  1952                  69.12    8691212  10039.59564
61  Australia    Oceania  1957                  70.33    9712569  10949.64959
62  Australia    Oceania  1962                  70.93   10794968  12217.22686
63  Australia    Oceania  1967                  71.10   11872264  14526.12465
64  Australia    Oceania  1972                  71.93   13177000  16788.62948

In [86]:
Oceania["Continente"].unique()

array(['Oceania'], dtype=object)

In [87]:
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: Pais, dtype: int64

In [104]:
df.groupby("Ano")["Expectativa de vida"].mean()

Ano
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: Expectativa de vida, dtype: float64

In [105]:
df["PIB"].min()

241.1658765

In [106]:
df["PIB"].sum()

12294917.346385501